{% extends "base.html" %}
{% load staticfiles %}


{% block jquery %}

$signUpCount = {{ count }};

//$(".progress-bar").css("width", "80%").attr("aria-valuenow", "80").text("80%");

function completeBlock(progressBarId){
	$(progressBarId).css("width", "100%").attr("aria-valuenow", "100").text("Completed");
};


function setNewPerc(progressBarId, percentNum, newText){
	$(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum);

	if (percentNum < 50) {
		//$(progressBarId).text("Your Custom text");
		$(progressBarId).text(newText);
	} else {
		$(progressBarId).text(newText);
	}

};

if ($signUpCount == 0){
	
} else if ($signUpCount > 0 && $signUpCount < 5) {
	$newPercent = $signUpCount/5 * 100;
	setNewPerc("#count5", $newPercent, "Number of Friends: " + $signUpCount);
} else if ($signUpCount>=5 && $signUpCount < 15) {
	completeBlock("#count5");
	$newCount = $signUpCount - 5;
	$newPercent = $newCount/(15-5) * 100;
	setNewPerc("#count15", $newPercent, "Number of Friends: " + $signUpCount);
} else if ($signUpCount >=15 && $signUpCount < 25) {
	completeBlock("#count5");
	completeBlock("#count15");
	$newCount = $signUpCount - 15;
	$newPercent = $newCount/(25-15) * 100;
	setNewPerc("#count25", $newPercent, "Number of Friends: " + $signUpCount);

} else if ($signUpCount >= 25 && $signUpCount < 50 ) {
	completeBlock("#count5");
	completeBlock("#count15");
	completeBlock("#count25");

	$newCount = $signUpCount - 25;
	$newPercent = $newCount/(50-25) * 100;
	setNewPerc("#count50", $newPercent, "Number of Friends: " + $signUpCount);


} else {
	completeBlock("#count5");
	completeBlock("#count15");
	completeBlock("#count25");
	completeBlock("#count50");
}


{% endblock %}


{% block content %}
{% include "navbar.html" %}


          <div class="jumbotron">
            <div class="container">
            	<div class="row">
              <div class="col-sm-6" style='text-align:center;'>
              	<i class="fa fa-share-alt fa-5x"></i>
            <h1>Invite Friends &amp; Earn Rewards</h1>
            <p>Share your link below!</p>
            <div class='well' style='background-color: white;'>{{ ref_url }}</div>
            Share<br/>
            
            
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ ref_url }}" target="_blank">
            <i class="fa fa-facebook-square fa-4x" style="color:#3b5998"></i>
            </a>
            
            
            <i class="fa fa-twitter-square fa-4x" style="color:#4099FF"></i>
            
            
            <i class="fa fa-linkedin-square fa-4x" style="color:#007bb6"></i>
            
            
            <i class="fa fa-reddit-square fa-4x" style="color:#900020"></i>
            
            <a href='https://plus.google.com/share?url={{ ref_url }}' target="_blank">
            <i class="fa fa-google-plus-square fa-4x" style="color:#D34836"></i>
            </a>
            
            </div>
            <div class='col-sm-6'>
              <img src="{% static  'img/launch.jpg'%}" class ='img-responsive' />
            </div>
          </div>


<div class='container' style='text-align:center'>
</hr>
<h1>Hello World</h1>



{{ ref_id }}</br>
{{ count }}</br>
<br/>
<div class='well'>
{{ ref_url }}</div>

<div class="row">
	<div class="col-sm-3">
	<h3> 5 Joined </h3>
		<div class="progress">
			  <div class="progress-bar"  id='count5' role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			    0%
			  </div>
		</div>
		<h4>Bronze Tier</h4>
		<!-- Add Image or paragraph here -->
		<hr />
			<span style='text-align:left !important;'>
				<h5>Rewards Include:</h5>
					<ul>
						<li>Reward 1</li>
						<li>Reward 2</li>
						<li>Reward 3</li>
					</ul>
			</span>
		<hr/>

	</div>
	<div class="col-sm-3">
	<h3> 15 Joined </h3>
		<div class="progress">
			  <div class="progress-bar" id='count15' role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			    0%
			  </div>
		</div>
				<h4>Silver Tier</h4>
		<!-- Add Image or paragraph here -->
		<hr />
			<span style='text-align:left !important;'>
				<h5>Rewards Include:</h5>
					<ul>
						<li>Reward 1</li>
						<li>Reward 2</li>
						<li>Reward 3</li>
					</ul>
			</span>
		<hr/>
	</div>
	<div class="col-sm-3">
	<h3> 25 Joined </h3>
		<div class="progress">
			  <div class="progress-bar" id='count25' role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			    0%
			  </div>
		</div>
				<h4>Gold Tier</h4>
		<!-- Add Image or paragraph here -->
		<hr />
			<span style='text-align:left !important;'>
				<h5>Rewards Include:</h5>
					<ul>
						<li>Reward 1</li>
						<li>Reward 2</li>
						<li>Reward 3</li>
					</ul>
			</span>
		<hr/>
	</div>
	<div class="col-sm-3">
	<h3> 50 Joined </h3>
		<div class="progress">
			  <div class="progress-bar" id='count50' role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			    0%
			  </div>
		</div>
	</div>
			<h4>Platinum Tier</h4>
		<!-- Add Image or paragraph here -->
		<hr />
			<span style='text-align:left !important;'>
				<h5>Rewards Include:</h5>
					<ul>
						<li>Reward 1</li>
						<li>Reward 2</li>
						<li>Reward 3</li>
					</ul>
			</span>
		<hr/>
</div>	



{% endblock %}
